#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.group-content {
  background: #474545;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(241, 139, 139, 0.3);
}

.score-counter-player-1 {
  display: flex;
  justify-content: center;
}

.score-counter-player-2 {
  display: flex;
  justify-content: center;
}

.current-score-counter{
  display: flex;
  justify-content: space-around; 
}

.roll-button-style {
  background-color: green;
  color: white;
  border-radius: 1rem;
  padding: 1rem
}

.stick-button-style{
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding: 1rem
}



