#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.group-content {
  background: #000000;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(241, 139, 139, 0.3);
}

.score-counter-player-1 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.score-counter-player-2 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.current-score-counter{
  display: flex;
  justify-content: space-around; 
}

.roll-button-style {
  background-color: green;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.stick-button-style{
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.new-game-buttons{
  display: flex;
  justify-content: center;
}

.button-style{
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.smaller-heading-style {
  font-size: 1.5rem;
  font-style: italic;
  color: pink;
}

